NET   "ddr3_addr[0]"                           LOC = "G27"   |     IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_addr[10]"                          LOC = "N26"   |     IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_addr[11]"                          LOC = "P26"   |     IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_addr[12]"                          LOC = "R26"   |     IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_addr[13]"                          LOC = "R28"   |     IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_addr[14]"                          LOC = "T28"   |     IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_addr[1]"                           LOC = "H28"   |     IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_addr[2]"                           LOC = "H27"   |     IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_addr[3]"                           LOC = "F29"   |     IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_addr[4]"                           LOC = "G29"   |     IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_addr[5]"                           LOC = "P25"   |     IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_addr[6]"                           LOC = "R25"   |     IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_addr[7]"                           LOC = "N28"   |     IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_addr[8]"                           LOC = "P28"   |     IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_addr[9]"                           LOC = "N27"   |     IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_ba[0]"                             LOC = "G26"   |     IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_ba[1]"                             LOC = "H26"   |     IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_ba[2]"                             LOC = "F27"   |     IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_cas_n"                             LOC = "E27"   |     IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_ck_n[0]"                           LOC = "R27"   |     IOSTANDARD = DIFF_SSTL15          |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_ck_p[0]"                           LOC = "T27"   |     IOSTANDARD = DIFF_SSTL15          |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_cke[0]"                            LOC = "D26"   |     IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_cs_n[0]"                           LOC = "E28"   |     IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dm[0]"                             LOC = "P24"   |     IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dm[1]"                             LOC = "J23"   |     IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dm[2]"                             LOC = "E25"   |     IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dm[3]"                             LOC = "H31"   |     IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dm[4]"                             LOC = "M30"   |     IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dm[5]"                             LOC = "D33"   |     IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dm[6]"                             LOC = "A29"   |     IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dm[7]"                             LOC = "L23"   |     IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[0]"                             LOC = "N24"   |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[10]"                            LOC = "F25"   |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[11]"                            LOC = "J24"   |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[12]"                            LOC = "H24"   |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[13]"                            LOC = "F22"   |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[14]"                            LOC = "E22"   |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[15]"                            LOC = "F23"   |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[16]"                            LOC = "D23"   |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[17]"                            LOC = "C23"   |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[18]"                            LOC = "D24"   |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[19]"                            LOC = "C24"   |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[1]"                             LOC = "P23"   |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[20]"                            LOC = "D25"   |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[21]"                            LOC = "A23"   |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[22]"                            LOC = "A22"   |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[23]"                            LOC = "B24"   |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[24]"                            LOC = "H29"   |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[25]"                            LOC = "G30"   |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[26]"                            LOC = "J33"   |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[27]"                            LOC = "H33"   |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[28]"                            LOC = "K32"   |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[29]"                            LOC = "K33"   |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[2]"                             LOC = "N23"   |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[30]"                            LOC = "K31"   |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[31]"                            LOC = "J31"   |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[32]"                            LOC = "M31"   |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[33]"                            LOC = "L32"   |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[34]"                            LOC = "L33"   |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[35]"                            LOC = "N32"   |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[36]"                            LOC = "N33"   |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[37]"                            LOC = "L29"   |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[38]"                            LOC = "L30"   |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[39]"                            LOC = "N31"   |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[3]"                             LOC = "T22"   |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[40]"                            LOC = "C33"   |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[41]"                            LOC = "G31"   |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[42]"                            LOC = "G32"   |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[43]"                            LOC = "F33"   |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[44]"                            LOC = "E33"   |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[45]"                            LOC = "F32"   |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[46]"                            LOC = "E32"   |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[47]"                            LOC = "E31"   |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[48]"                            LOC = "D30"   |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[49]"                            LOC = "C31"   |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[4]"                             LOC = "R22"   |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[50]"                            LOC = "F30"   |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[51]"                            LOC = "E30"   |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[52]"                            LOC = "A30"   |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[53]"                            LOC = "C29"   |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[54]"                            LOC = "B29"   |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[55]"                            LOC = "B30"   |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[56]"                            LOC = "H22"   |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[57]"                            LOC = "G22"   |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[58]"                            LOC = "K22"   |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[59]"                            LOC = "K21"   |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[5]"                             LOC = "T23"   |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[60]"                            LOC = "M22"   |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[61]"                            LOC = "L22"   |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[62]"                            LOC = "J21"   |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[63]"                            LOC = "H21"   |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[6]"                             LOC = "R23"   |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[7]"                             LOC = "R21"   |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[8]"                             LOC = "H23"   |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[9]"                             LOC = "G25"   |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_n[0]"                          LOC = "N21"   |     IOSTANDARD = DIFF_SSTL15_T_DCI    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_n[1]"                          LOC = "F24"   |     IOSTANDARD = DIFF_SSTL15_T_DCI    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_n[2]"                          LOC = "B22"   |     IOSTANDARD = DIFF_SSTL15_T_DCI    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_n[3]"                          LOC = "J30"   |     IOSTANDARD = DIFF_SSTL15_T_DCI    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_n[4]"                          LOC = "M29"   |     IOSTANDARD = DIFF_SSTL15_T_DCI    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_n[5]"                          LOC = "B32"   |     IOSTANDARD = DIFF_SSTL15_T_DCI    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_n[6]"                          LOC = "A33"   |     IOSTANDARD = DIFF_SSTL15_T_DCI    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_n[7]"                          LOC = "L24"   |     IOSTANDARD = DIFF_SSTL15_T_DCI    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_p[0]"                          LOC = "N22"   |     IOSTANDARD = DIFF_SSTL15_T_DCI    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_p[1]"                          LOC = "G24"   |     IOSTANDARD = DIFF_SSTL15_T_DCI    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_p[2]"                          LOC = "C22"   |     IOSTANDARD = DIFF_SSTL15_T_DCI    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_p[3]"                          LOC = "K30"   |     IOSTANDARD = DIFF_SSTL15_T_DCI    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_p[4]"                          LOC = "N29"   |     IOSTANDARD = DIFF_SSTL15_T_DCI    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_p[5]"                          LOC = "C32"   |     IOSTANDARD = DIFF_SSTL15_T_DCI    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_p[6]"                          LOC = "A32"   |     IOSTANDARD = DIFF_SSTL15_T_DCI    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_p[7]"                          LOC = "M24"   |     IOSTANDARD = DIFF_SSTL15_T_DCI    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_odt[0]"                            LOC = "C26"   |     IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_ras_n"                             LOC = "E26"   |     IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_reset_n"                           LOC = "A24"   |     IOSTANDARD = LVCMOS15             |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_we_n"                              LOC = "F28"   |     IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      ;
