NET   "ddr3_addr[0]"                           LOC = "AN41"  |     IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_addr[10]"                          LOC = "AP38"  |     IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_addr[11]"                          LOC = "AN38"  |     IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_addr[12]"                          LOC = "AN37"  |     IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_addr[13]"                          LOC = "AR38"  |     IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_addr[14]"                          LOC = "AR37"  |     IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_addr[1]"                           LOC = "AP44"  |     IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_addr[2]"                           LOC = "AP43"  |     IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_addr[3]"                           LOC = "AP40"  |     IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_addr[4]"                           LOC = "AN39"  |     IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_addr[5]"                           LOC = "AP36"  |     IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_addr[6]"                           LOC = "AN36"  |     IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_addr[7]"                           LOC = "AR36"  |     IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_addr[8]"                           LOC = "AR35"  |     IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_addr[9]"                           LOC = "AP39"  |     IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_ba[0]"                             LOC = "AT43"  |     IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_ba[1]"                             LOC = "AR43"  |     IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_ba[2]"                             LOC = "AP41"  |     IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_cas_n"                             LOC = "AR41"  |     IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_ck_n[0]"                           LOC = "AP35"  |     IOSTANDARD = DIFF_SSTL15          |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_ck_p[0]"                           LOC = "AP34"  |     IOSTANDARD = DIFF_SSTL15          |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_cke[0]"                            LOC = "AU41"  |     IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_cs_n[0]"                           LOC = "AT42"  |     IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dm[0]"                             LOC = "AJ41"  |     IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dm[1]"                             LOC = "BB41"  |     IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dm[2]"                             LOC = "AY36"  |     IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dm[3]"                             LOC = "AJ33"  |     IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dm[4]"                             LOC = "AW40"  |     IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dm[5]"                             LOC = "AH36"  |     IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dm[6]"                             LOC = "AL42"  |     IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dm[7]"                             LOC = "BA34"  |     IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[0]"                             LOC = "AK41"  |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[10]"                            LOC = "BD41"  |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[11]"                            LOC = "BC39"  |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[12]"                            LOC = "BD39"  |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[13]"                            LOC = "BB39"  |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[14]"                            LOC = "BB40"  |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[15]"                            LOC = "AY40"  |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[16]"                            LOC = "AY38"  |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[17]"                            LOC = "BA39"  |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[18]"                            LOC = "BA37"  |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[19]"                            LOC = "BA38"  |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[1]"                             LOC = "AK40"  |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[20]"                            LOC = "AY37"  |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[21]"                            LOC = "BC38"  |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[22]"                            LOC = "BD38"  |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[23]"                            LOC = "BB37"  |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[24]"                            LOC = "AL34"  |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[25]"                            LOC = "AM34"  |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[26]"                            LOC = "AL35"  |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[27]"                            LOC = "AM35"  |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[28]"                            LOC = "AJ35"  |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[29]"                            LOC = "AK35"  |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[2]"                             LOC = "AL40"  |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[30]"                            LOC = "AH32"  |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[31]"                            LOC = "AH33"  |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[32]"                            LOC = "AW41"  |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[33]"                            LOC = "AY43"  |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[34]"                            LOC = "BA43"  |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[35]"                            LOC = "AY41"  |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[36]"                            LOC = "AY42"  |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[37]"                            LOC = "BA44"  |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[38]"                            LOC = "BB44"  |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[39]"                            LOC = "BA42"  |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[3]"                             LOC = "AH43"  |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[40]"                            LOC = "AJ36"  |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[41]"                            LOC = "AH37"  |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[42]"                            LOC = "AH38"  |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[43]"                            LOC = "AJ38"  |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[44]"                            LOC = "AK38"  |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[45]"                            LOC = "AL37"  |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[46]"                            LOC = "AL38"  |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[47]"                            LOC = "AK36"  |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[48]"                            LOC = "AM40"  |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[49]"                            LOC = "AM41"  |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[4]"                             LOC = "AH44"  |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[50]"                            LOC = "AL39"  |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[51]"                            LOC = "AM39"  |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[52]"                            LOC = "AL43"  |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[53]"                            LOC = "AL44"  |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[54]"                            LOC = "AM44"  |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[55]"                            LOC = "AN43"  |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[56]"                            LOC = "BC34"  |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[57]"                            LOC = "BD34"  |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[58]"                            LOC = "BB36"  |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[59]"                            LOC = "BC36"  |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[5]"                             LOC = "AJ43"  |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[60]"                            LOC = "AW35"  |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[61]"                            LOC = "AY35"  |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[62]"                            LOC = "BA35"  |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[63]"                            LOC = "BB35"  |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[6]"                             LOC = "AJ44"  |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[7]"                             LOC = "AJ39"  |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[8]"                             LOC = "BC41"  |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[9]"                             LOC = "BD40"  |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_n[0]"                          LOC = "AK43"  |     IOSTANDARD = DIFF_SSTL15_T_DCI    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_n[1]"                          LOC = "BC43"  |     IOSTANDARD = DIFF_SSTL15_T_DCI    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_n[2]"                          LOC = "AW39"  |     IOSTANDARD = DIFF_SSTL15_T_DCI    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_n[3]"                          LOC = "AL33"  |     IOSTANDARD = DIFF_SSTL15_T_DCI    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_n[4]"                          LOC = "AW44"  |     IOSTANDARD = DIFF_SSTL15_T_DCI    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_n[5]"                          LOC = "AM37"  |     IOSTANDARD = DIFF_SSTL15_T_DCI    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_n[6]"                          LOC = "AN42"  |     IOSTANDARD = DIFF_SSTL15_T_DCI    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_n[7]"                          LOC = "BD36"  |     IOSTANDARD = DIFF_SSTL15_T_DCI    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_p[0]"                          LOC = "AK42"  |     IOSTANDARD = DIFF_SSTL15_T_DCI    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_p[1]"                          LOC = "BC42"  |     IOSTANDARD = DIFF_SSTL15_T_DCI    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_p[2]"                          LOC = "AW38"  |     IOSTANDARD = DIFF_SSTL15_T_DCI    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_p[3]"                          LOC = "AK33"  |     IOSTANDARD = DIFF_SSTL15_T_DCI    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_p[4]"                          LOC = "AW43"  |     IOSTANDARD = DIFF_SSTL15_T_DCI    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_p[5]"                          LOC = "AM36"  |     IOSTANDARD = DIFF_SSTL15_T_DCI    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_p[6]"                          LOC = "AM42"  |     IOSTANDARD = DIFF_SSTL15_T_DCI    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_p[7]"                          LOC = "BD35"  |     IOSTANDARD = DIFF_SSTL15_T_DCI    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_odt[0]"                            LOC = "AV41"  |     IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_ras_n"                             LOC = "AR40"  |     IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_reset_n"                           LOC = "BC37"  |     IOSTANDARD = LVCMOS15             |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_we_n"                              LOC = "AR42"  |     IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      ;
NET   "diagnostic_led"                         LOC = "AV34"  |    ;
