NET   "ddr3_addr[0]"                           LOC = "AY15"  |     IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_addr[10]"                          LOC = "BB15"  |     IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_addr[11]"                          LOC = "BD14"  |     IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_addr[12]"                          LOC = "BC14"  |     IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_addr[13]"                          LOC = "BB16"  |     IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_addr[14]"                          LOC = "BB17"  |     IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_addr[1]"                           LOC = "AW14"  |     IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_addr[2]"                           LOC = "AV14"  |     IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_addr[3]"                           LOC = "BA17"  |     IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_addr[4]"                           LOC = "AY17"  |     IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_addr[5]"                           LOC = "BA13"  |     IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_addr[6]"                           LOC = "BA14"  |     IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_addr[7]"                           LOC = "BD15"  |     IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_addr[8]"                           LOC = "BD16"  |     IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_addr[9]"                           LOC = "BB14"  |     IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_ba[0]"                             LOC = "AU14"  |     IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_ba[1]"                             LOC = "AT14"  |     IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_ba[2]"                             LOC = "BA15"  |     IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_cas_n"                             LOC = "AW15"  |     IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_ck_n[0]"                           LOC = "BC16"  |     IOSTANDARD = DIFF_SSTL15          |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_ck_p[0]"                           LOC = "BC17"  |     IOSTANDARD = DIFF_SSTL15          |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_cke[0]"                            LOC = "AP16"  |     IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_cs_n[0]"                           LOC = "AY16"  |     IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dm[0]"                             LOC = "BB21"  |     IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dm[1]"                             LOC = "AW21"  |     IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dm[2]"                             LOC = "AR18"  |     IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dm[3]"                             LOC = "AK18"  |     IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dm[4]"                             LOC = "AM12"  |     IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dm[5]"                             LOC = "AP10"  |     IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dm[6]"                             LOC = "AW13"  |     IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dm[7]"                             LOC = "BA10"  |     IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[0]"                             LOC = "BC21"  |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[10]"                            LOC = "BA18"  |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[11]"                            LOC = "AW19"  |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[12]"                            LOC = "AW18"  |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[13]"                            LOC = "AT19"  |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[14]"                            LOC = "AU19"  |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[15]"                            LOC = "AV19"  |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[16]"                            LOC = "AR20"  |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[17]"                            LOC = "AT20"  |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[18]"                            LOC = "AU21"  |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[19]"                            LOC = "AU20"  |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[1]"                             LOC = "BC18"  |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[20]"                            LOC = "AT18"  |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[21]"                            LOC = "AP20"  |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[22]"                            LOC = "AP19"  |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[23]"                            LOC = "AN18"  |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[24]"                            LOC = "AK20"  |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[25]"                            LOC = "AL20"  |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[26]"                            LOC = "AM20"  |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[27]"                            LOC = "AN19"  |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[28]"                            LOC = "AL19"  |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[29]"                            LOC = "AM19"  |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[2]"                             LOC = "BD18"  |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[30]"                            LOC = "AJ20"  |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[31]"                            LOC = "AJ19"  |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[32]"                            LOC = "AM11"  |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[33]"                            LOC = "AJ11"  |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[34]"                            LOC = "AJ10"  |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[35]"                            LOC = "AL10"  |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[36]"                            LOC = "AM10"  |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[37]"                            LOC = "AK13"  |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[38]"                            LOC = "AK12"  |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[39]"                            LOC = "AK11"  |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[3]"                             LOC = "BA20"  |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[40]"                            LOC = "AR10"  |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[41]"                            LOC = "AR13"  |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[42]"                            LOC = "AT13"  |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[43]"                            LOC = "AN13"  |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[44]"                            LOC = "AP13"  |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[45]"                            LOC = "AP11"  |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[46]"                            LOC = "AR11"  |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[47]"                            LOC = "AR12"  |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[48]"                            LOC = "AU12"  |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[49]"                            LOC = "AU11"  |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[4]"                             LOC = "BB20"  |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[50]"                            LOC = "AV12"  |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[51]"                            LOC = "AV11"  |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[52]"                            LOC = "AY13"  |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[53]"                            LOC = "AW11"  |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[54]"                            LOC = "AY11"  |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[55]"                            LOC = "AW10"  |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[56]"                            LOC = "BB11"  |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[57]"                            LOC = "BC11"  |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[58]"                            LOC = "BC13"  |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[59]"                            LOC = "BD13"  |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[5]"                             LOC = "BC19"  |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[60]"                            LOC = "BB12"  |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[61]"                            LOC = "BC12"  |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[62]"                            LOC = "BD11"  |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[63]"                            LOC = "BD10"  |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[6]"                             LOC = "BD19"  |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[7]"                             LOC = "BA19"  |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[8]"                             LOC = "AY21"  |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dq[9]"                             LOC = "AY18"  |     IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_n[0]"                          LOC = "BD20"  |     IOSTANDARD = DIFF_SSTL15_T_DCI    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_n[1]"                          LOC = "AY20"  |     IOSTANDARD = DIFF_SSTL15_T_DCI    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_n[2]"                          LOC = "AR21"  |     IOSTANDARD = DIFF_SSTL15_T_DCI    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_n[3]"                          LOC = "AL17"  |     IOSTANDARD = DIFF_SSTL15_T_DCI    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_n[4]"                          LOC = "AL12"  |     IOSTANDARD = DIFF_SSTL15_T_DCI    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_n[5]"                          LOC = "AN11"  |     IOSTANDARD = DIFF_SSTL15_T_DCI    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_n[6]"                          LOC = "AU10"  |     IOSTANDARD = DIFF_SSTL15_T_DCI    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_n[7]"                          LOC = "BA12"  |     IOSTANDARD = DIFF_SSTL15_T_DCI    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_p[0]"                          LOC = "BD21"  |     IOSTANDARD = DIFF_SSTL15_T_DCI    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_p[1]"                          LOC = "AW20"  |     IOSTANDARD = DIFF_SSTL15_T_DCI    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_p[2]"                          LOC = "AP21"  |     IOSTANDARD = DIFF_SSTL15_T_DCI    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_p[3]"                          LOC = "AK17"  |     IOSTANDARD = DIFF_SSTL15_T_DCI    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_p[4]"                          LOC = "AL13"  |     IOSTANDARD = DIFF_SSTL15_T_DCI    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_p[5]"                          LOC = "AN12"  |     IOSTANDARD = DIFF_SSTL15_T_DCI    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_p[6]"                          LOC = "AT10"  |     IOSTANDARD = DIFF_SSTL15_T_DCI    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_dqs_p[7]"                          LOC = "AY12"  |     IOSTANDARD = DIFF_SSTL15_T_DCI    |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_odt[0]"                            LOC = "AP15"  |     IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_ras_n"                             LOC = "AV16"  |     IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_reset_n"                           LOC = "AP18"  |     IOSTANDARD = LVCMOS15             |     VCCAUX_IO = NORMAL      ;
NET   "ddr3_we_n"                              LOC = "AW16"  |     IOSTANDARD = SSTL15               |     VCCAUX_IO = NORMAL      ;
NET   "diagnostic_led"                         LOC = "AJ15"  |    ;
NET   "reset"                                  LOC = "AR15"  |    ;
